.skills_section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: default;
}

.svg_container {
  display: flex;
  align-items: center;
  height: 3rem;
}

.svg_container svg {
  width: 3rem;
  height: 3rem;
}
