.skills_section {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(223, 226, 34);
  cursor: pointer;

  display: flex;
  flex-direction: column;

  .svg_container {
    height: 5.5rem;
  }

  svg {
    /* border: 1px solid black; */
    width: 5rem;
  }
}
